{% extends 'base.html' %}

{% block title %} Главная страница {% endblock %}

{% block content %}
<div class="row py-5">
    <h3 class="font1"> Английский язык очень важен в наше время, поэтому этот сайт именно для вас. Мы предлагаем вам
    различные уроки для запоминания новых слов и фраз.</h3>
    <br>
    <h2 class="font2" align="center"> Мы предлагаем вам </h2>
</div>
<div class="row">
    <div class="col-sm-6 col-xl-4 item-wrapper py-2" align="center">
        <div class="item-inner">
            <i class="bi bi-flag"></i>
            <br>
            <text class="font3"> Создавайте уроки <br> под себя </text>
            <br>
            <text class="font4"> Вы можете выбрать сколько новых слов будете учить в день </text>
        </div>
    </div>
    <div class="col-sm-6 col-xl-4 item-wrapper py-2" align="center">
        <div class="item-inner">
            <i class="bi bi-person-arms-up"></i>
            <br>
            <text class="font3"> Вы уникальны </text>
            <br>
            <text class="font4"> Каждый пользователь имеет свой аккаунт </text>
        </div>
    </div>
    <div class="col-sm-6 col-xl-4 item-wrapper py-2" align="center">
        <div class="item-inner">
            <i class="bi bi-person-workspace"></i>
            <br>
            <text class="font3"> Мы не забываем о вас </text>
            <br>
            <text class="font4"> Сайт подлежит постоянно различным обновлениям и добавлениям новых функций </text>
        </div>
    </div>
</div>
{% endblock %}